.spaced li {
  margin:0 0 10px 0;
}

.money-green { color : #a0c865; }
.gitpitch-orange { color : #E58537; }
.lowkey-grey { color : #939393; }
.chart-red { color : #f92727; }
.chart-blue { color : #528bff; }



.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}
